name: Unit tests

on: [push, pull_request]

jobs:
  tests:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: "3.14"

      - name: Install uv
        run: pipx install uv

      - name: Install dependencies
        run: uv venv && uv pip install .[test]

      - name: Run tests
        run: uv run python -m pytest tests/unit
